@import "../styles/theme.css";

/* Global Body & Reset styles */
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  scroll-behavior: auto !important; /* For Lenis compatibility */
}